# /etc/udev/rules.d/50-mouse-wakeup.rules
# prevents mouse from waking from suspend

ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c52b", ATTR{power/wakeup}="disabled"
