# https://blog.gitbutler.com/how-git-core-devs-configure-git/
[branch]
    sort = -committerdate
[column]
    ui = auto
[core]
    autocrlf = false
    eol = lf
[credential]
    helper = store
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[init]
    defaultBranch = main
[push]
    default = simple
    autoSetupRemote = true
    followTags = true
[status]
    showUntrackedFiles = no
[tag]
    sort = version:refname
[user]
    email = john@jfin.net
    name = John Inman
