! black 
*color0:  #333333
*color8:  #666666
! red            
*color1:  #993333
*color9:  #ff9999
! green          
*color2:  #339933
*color10: #99ff99
! brown/yellow          
*color3:  #666600
*color11: #ffff99
! blue           
*color4:  #3366cc
*color12: #99ccff
! magenta               
*color5:  #993399
*color13: #ff99ff
! cyan           
*color6:  #339999
*color14: #99ffff
! gray/white            
*color7:  #999999
*color15: #ffffff

*foreground: #ffffff
*background: #000000

/* *internalBorder: 16 */

*cursorBlink: true
*cursorOffTime: 500
*cursorOnTime: 500
*cursorColor: #ff99ff

! *colorInnerBorder: true
!*termName: xterm-256color

*faceName: Terminess Nerd Font Mono:size=17
! *faceName: Terminus:size=16
! *allowBoldFonts: true

*scrollBar: false

! The following two settings may be specific to xterm.
! As it sounds. allows for emacs bindings in terminal.  
*metaSendsEscape: true

! Allows for expected Delete behavior of deleting character in front of
! cursor.
*deleteIsDEL: false

! bs sends ^? instead of ^h. preserves ^h for mapping
*backarrowKeyIsErase: true

! cancels xterms m-enter fullscreen keybinding
*omitTranslation: fullscreen

! for copy/paste
*selectToClipboard: true

Xft.dpi: 120
