! black 
*color0:  #000000
*color8:  #808080
! red 
*color1:  #ff0000
*color9:  #ff0000
! green 
*color2:  #008000
*color10: #008000
! brown/yellow 
*color3:  #808000
*color11: #ffff00
! blue 
*color4:  #000080
*color12: #000080
! magenta 
*color5:  #800080
*color13: #800080
! cyan 
*color6:  #008080
*color14: #008080
! gray/white
*color7:  #f5f5f5
*color15: #ffffff

*foreground: #000000
*background: #ffffff

*internalBorder: 16

! *cursorUnderLine: true
*cursorBlink: false
*cursorOffTime: 500
*cursorOnTime: 500

! *colorInnerBorder: true
!*termName: xterm-256color

*faceName: xft:Terminus:size=20:style=bold
! *allowBoldFonts: true

*scrollBar: false

! The following two settings may be specific to xterm.
! As it sounds. allows for emacs bindings in terminal.  
*metaSendsEscape: true

! Allows for expected Delete behavior of deleting character in front of
! cursor.
*deleteIsDEL: false

! cancels xterms m-enter fullscreen keybinding
*omitTranslation: fullscreen

! for copy/paste
*selectToClipboard: true
