! black 
*color0:  #000000
*color8:  #696969
! red            
*color1:  #fa8072
*color9:  #fa8072
! green          
*color2:  #98fb98
*color10: #98fb98
! brown/yellow          
*color3:  #eee8aa
*color11: #eee8aa
! blue           
*color4:  #87cefa
*color12: #87cefa
! magenta               
*color5:  #dda0dd
*color13: #dda0dd
! cyan           
*color6:  #afeeee
*color14: #afeeee
! gray/white            
*color7:  #a9a9a9
*color15: #ffffff

*foreground: #ffffff
*background: #000000

/* *internalBorder: 16 */

! *cursorUnderLine: true
*cursorBlink: false
*cursorOffTime: 500
*cursorOnTime: 500

! *colorInnerBorder: true
!*termName: xterm-256color

*faceName: xft:Terminus:size=18
! *allowBoldFonts: true

*scrollBar: false

! The following two settings may be specific to xterm.
! As it sounds. allows for emacs bindings in terminal.  
*metaSendsEscape: true

! Allows for expected Delete behavior of deleting character in front of
! cursor.
*deleteIsDEL: false

! cancels xterms m-enter fullscreen keybinding
*omitTranslation: fullscreen

! for copy/paste
*selectToClipboard: true
