snippet meta
	# ${1:title}
	# john.inman@waterboards.ca.gov
	# `strftime('%F')`

snippet library
	# load packages{{{
	# ------------------------------------------------------------------------------

	library(data.table)
	library(fs)
	library(readxl)
	library(writexl)
	library(tidyverse)

	# }}}

snippet data
	# load data{{{
	# ------------------------------------------------------------------------------

	# read files{{{
	rm(list = ls(all = TRUE))

	$0

	.data_loaded <- NULL
	save.image(".RData")
	# }}}

	if (!exists(".data_loaded")) {
		load(".RData")
	}

	rm(list = ls())

	# }}}

snippet top
	meta$0

	library

	data

	# END

snippet lookups
	path <- "${1:path}"
	sheets <- excel_sheets(path)
	.lookups <- 
		map(sheets, \\(x) read_excel(path, x, col_types = "text")) |>
		set_names(sheets)

snippet x
	\\(${1:x})

snippet many
	relationship = "many-to-many"

snippet read_excel
	read_excel(${1:path}, 
	           sheet = ${2:sheet},
	           col_types = "text",
			   na = "")

snippet fread
	fread(${1:path}, 
	      colClasses = "character",
	      na.strings = "")

snippet sec
	# ${1:section}
	# ==============================================================================

snippet sub
	# ${1:section}
	# ------------------------------------------------------------------------------
