snippet top
	# ${1:title}
	# john.inman@waterboards.ca.gov
	# `strftime('%F')`

	# LOAD ======================================================================{{{

	# packages{{{
	library(data.table)
	library(fs)
	library(readxl)
	library(tools)
	library(writexl)
	library(tidyverse)# }}}

	rm(list = ls())

	load_files <- function(files) {
		cache_dir <- path(".Rcache")
		dir_create(cache_dir)
		object_names <- names(files)

		# ---- prune stale cache files (names not in current input) ----
		dir_ls(cache_dir, all = TRUE) |>
			keep(\(x) {
				cached_name <- str_remove(x, "\\.rds$")
				!cached_name %in% object_names
			}) |>
			walk(file_delete)

		# ---- read (or load from cache) each file ----
		files |> 
			iwalk(\(x, idx) {
			if (exists(idx, envir = .GlobalEnv, inherits = FALSE)) return(invisible())

			cache_file <- path(cache_dir, str_c(idx, ".rds"))

			if (file_exists(cache_file)) {
				assign(idx, readRDS(cache_file), envir = .GlobalEnv)
				return(invisible())
			}

			ext <- path_ext(str_to_lower(x))

			object <- if (str_detect(ext, "xls")) {
				x |>
					excel_sheets() |>
					set_names() |>
					map(\(y) read_excel(x, sheet = y, col_types = "text", na = "")) |>
					(\(z) if (length(z) == 1L) z[[1L]] else z)()
			} else {
				fread(x, colClasses = "character", na.strings = "")
			}

			assign(idx, object, envir = .GlobalEnv)
			saveRDS(object, cache_file)
		})

		invisible()
	}

	files <- c(
		$1  = "$2"
	)
	load_files(files)

	# END

snippet lookups
	path <- "${1:path}"
	sheets <- excel_sheets(path)
	.lookups <- 
		map(sheets, \\(x) read_excel(path, x, col_types = "text")) |>
		set_names(sheets)

snippet x
	\\(${1:x})

snippet many
	relationship = "many-to-many"

snippet read_excel
	read_excel(${1:path}, 
	           sheet = ${2:1},
	           col_types = "text",
			   na = "")

snippet fread
	fread(${1:path}, 
	      colClasses = "character",
	      na.strings = "")

snippet sec
	# $1===========================================================================

snippet sub
	# $1---------------------------------------------------------------------------

snippet origin
	mutate(SampleDate = as.Date(as.numeric(SampleDate), origin = "1899-12-30"))

snippet in
	%in%

snippet nin
	%nin%

snippet ~
	%~%

snippet xwalk
	path <- "~/res/misc/colname-crosswalk.csv"
	.cols_xwalk <- fread(path, colClasses = "character", na.strings = "")
	cols_xwalk <- .cols_xwalk |>
		filter(!is.na(unified), !is.na(${1:comp_report})) |>
		(\\(x) set_names(x\$$1, x\$unified))()
