# help from 
# https://unix.stackexchange.com/questions/222368/get-date-of-next-saturday-from-a-given-date
snippet todo 
#todo `date +'%Y'`-${1:`get-this-friday`} `!v GetProject()`${0:<task>}
endsnippet
